---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css"; // 确保引入了 Tailwind

// 保持你原有的 Props 和逻辑
// const { title } = Astro.props; // 如果有的话
---

<!doctype html>
<html lang="en" class="h-full bg-[#1e1e1e]">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tudui Tutorials</title>
	</head>
	<body class="flex min-h-full flex-col font-sans text-white">
		<Navbar />

		<main class="flex-grow">
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
